:root {
  --first-text-color: #283136;
  --second-text-color: #000000;
  --special-text-color: #666666;
  --special-text-color-2: #444444;
  --basic-white: #ffffff;
  --main-bg-color: #eeeeee;
  --dark-grey-color: #dfdfdf;
  --extra-dark-grey-color: #d5d5d5;
  --radio-color: #4d4d4d;
  --pink-color: #fb565a;
  --dark-pink-color: #e74246;
  --extra-dark-pink-color: #d7373b;
  --green-color: #00ca74;
  --dark-green-color: #00bc6c;
  --extra-dark-green-color: #00aa62;
  --yellow-color: #efc84a;
  --dark-yellow-color:  #eab534;
  --extra-dark-yellow-color: #e5a722;
}

.page {
  height: 100%;
}

body {
	min-width: 960px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--first-text-color);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

a {
  	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.button {
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--pink-color);
}

.button:hover {
  background-color: var(--dark-pink-color);
}

.button:active {
  background-color: var(--extra-dark-pink-color);
  color: rgba(255,255,255,0.3);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 48px;
}

.main-nav__item + .main-nav__item {
  margin-left: 45px;
}

.main-nav__link {
  color: var(--second-text-color);
}

.main-nav__link:hover {
  color: var(--pink-color);
}

.main-nav__link:active {
  opacity: 0.3;
}

.header {
  padding-top: 50px;
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px
}

.basket {
  color: var(--second-text-color);
  padding-left: 40px;
  display: block;
  position: relative;
}

.basket:hover {
  color: var(--pink-color);
}

.basket:active {
  opacity: 0.3;
}

.basket::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 15px;
  height: 15px;
  background-image: url('../img/basket.svg');
  background-repeat: no-repeat;
}

.main {
  padding-bottom: 80px;
}

.slider-wrapper {
  background-color: var(--main-bg-color);
}

.slider {
  padding-top: 65px;
  padding-bottom: 77px;
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 400px -10px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  max-width: 380px;
}

.slider__title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 28px;
}

.slider__text {
  margin-bottom: 53px;
}

.slider__button {
  padding: 17px 53px 15px;
  border-radius: 3px;
}

.slider__toggles {
  position: relative;
  left: 537px;
  top: -22px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggles__item + .toggles__item {
  margin-left: 17px;
}

.toggles__item--active::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}

.toggle {
  display: block;
  background-color: var(--basic-white);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.products {
  padding: 80px 0 92px;
  border-bottom: 2px solid var(--main-bg-color);
}

.products__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item + .products__item {
  margin-left: 100px;
}

.products__title {
  color: var(--second-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0 16px;
}

.products__text {
  max-width: 260px;
  margin-bottom: 47px;
}

.products__button {
  padding: 17px 40px 15px;
  border-radius: 3px;
}

.produts__button--green {
  background-color: var(--green-color);
}

.produts__button--green:hover {
  background-color: var(--dark-green-color);
}

.produts__button--green:active {
  background-color: var(--extra-dark-green-color);
}

.produts__button--yellow {
  background-color: var(--yellow-color);
}

.produts__button--yellow:hover {
  background-color: var(--dark-yellow-color);
}

.produts__button--yellow:active {
  background-color: var(--extra-dark-yellow-color);
}

.features {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 37px 0 59px;
  border-bottom: 2px solid var(--main-bg-color);
}

.features__item {
  max-width: 650px;
}

.features__title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}

.features__text {
  margin: 0 0 40px;
}

.features__list-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  padding-left: 34px;
  position: relative;
}

.list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: var(--pink-color);
}

.list__item + .list__item {
  margin-top: 25px;
}

.stats {
  margin-left: 25px;
}

.features__img {
  margin-bottom: 33px;
}

.stats__list {
  display: flex;
  justify-content: space-between;
}

.stats__item + .stats__item {
  margin-left: 20px;
}

.stats__title {
  color: var(--second-text-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 16px;
}

.stats__term {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin-bottom: 11px;
}

.stats__definition {
  margin: 0;
  line-height: 18px;
}

.clients {
  padding: 45px 0;
  border-bottom: 2px solid var(--main-bg-color);
  padding-bottom: 35px;
}

.clients__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 32px;
  align-items: center;
}

.clients__item:nth-child(1) {
  margin-top: 15px;
}

.clients__item:nth-child(2) {
  margin-left: 48px;
  padding-left: 47px;
}

.clients__item:nth-child(3) {
  margin-left: 44px;
  padding-left: 60px;
}

.clients__item:nth-child(4) {
  margin-top: 8px;
  margin-left: 55px;
  padding-left: 65px;
}

.clients__item + .clients__item {
  position: relative;
}

.clients__item + .clients__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 2px;
  height: 52px;
  background-color: var(--main-bg-color);
}

.clients__item:nth-child(3)::before {
  bottom: 5px;
}

.clients__icon {
  opacity: 0.2;
}

.clients__icon:hover {
  opacity: 1;
}

.clients__icon:active {
  opacity: 0.1;
}

.contacts {
  width: 1440px;
  height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.contacts__wrapper {
  position: relative;
}

.contacts__container {
  position: absolute;
  top: 42px;
  padding: 49px 50px 47px;
  background-color: var(--basic-white);
}

.contacts__title {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.contacts__text {
  color: var(--special-text-color);
  line-height: 18px;
  max-width: 210px;
  margin-bottom: 55px;
}

.contacts__button {
  padding: 17px 44px 14px;
  border-radius: 3px;
}

.socials {
  padding: 36px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 34px;
}

.socials__link {
  display: block;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.socials__link--vk::before {
  content: "";
  position: absolute;
  background-image: url("../img/vk-icon.svg");
  width: 26px;
  height: 15px;
  background-repeat: no-repeat;
  top: 33px;
  left: 27px;
}

.socials__link--fb::before {
  content: "";
  position: absolute;
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
  background-repeat: no-repeat;
  top: 32px;
  left: 35px;
}

.socials__link--inst::before {
  content: "";
  position: absolute;
  background-image: url("../img/insta-icon.svg");
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  top: 30px;
  left: 30px;
}

.socials__wrapper {
  margin-left: 15px;
}

.socials__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 12px;
}

.socials__text {
  color: var(--special-text-color-2);
  line-height: 22px;
  margin: 0;
}

.main__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.catalog-title {
  display: block;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--second-text-color);
  font-size: 55px;
  line-height: 55px;
}

.sorter__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog__sorter {
  display: flex;
  align-items: center;
}

.sorter__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 250px;
}

.sorter__item + .sorter__item {
  margin-left: 25px;
}

.sorter__link {
  color: var(--second-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sorter__link:hover {
  opacity: 0.6;
}

.sorter__link:active {
  opacity: 1;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product__description {
  color: var(--special-text-color);
  line-height: 18px;
}

.product__button:active {
  color: var(--basic-white);
}

.pagination__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item + .pagination__item {
  margin-left: 10px;
}

.pagination__link {
  display: inline-block;
  color: var(--second-text-color);
  line-height: 18px;
  padding: 17px 20px 15px;
  border-radius: 3px;
  background-color: var(--main-bg-color);
}

.pagination__link:hover {
  background-color: var(--dark-grey-color);
}

.pagination__link:active {
  background-color: var(--extra-dark-grey-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination__link--active {
  background-color: var(--basic-white);
  padding: 14px 17px 12px;
  border: 3px solid #DBDBDB;
}

.pagination__link--active:hover {
  background-color: var(--basic-white)
}

.pagination__link--active:active {
  background-color: var(--basic-white);
  box-shadow: none;
}

.pagination__item .pagination__link--next {
  padding: 17px 77px 15px;
}

